.spacer{
    margin-left: 10px;
}
.footer{
    display: flex;
    position: fixed;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    overflow: auto;
    color: grey;
}
.footerContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}